.connection-bg-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.trust-bg-container{
    width: 400px;
    text-align: center;
}

.connect-span{
    margin-left: 10px;
    color: #333333;
}

.trust-container{
    display: flex;
    align-items: center;
}

.trust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icons{
    font-size: 40px;
}

.carousel-container{
    width: 800px;
}